body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.brand-logo {
  display: inline-block;
  height: 100%;
}

.brand-logo > img {
  vertical-align: sub;
}

.highlighted-text {
  background-color: black;
  color: white;
  padding: 2px 5px; /* Añade un poco de espacio alrededor del texto */
  border-radius: 3px; /* Bordes redondeados para un aspecto más suave */
}

.container {
  max-width: 800px;
  font-size: 17px;
}

.post-it {
  background-color: #ffeb3b; /* Color amarillo post-it */
  padding: 20px;
  width: 300px;
  transform: rotate(-7deg); /* Inclinación */
  border: 1px solid #ffc107; /* Borde naranja claro */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  font-style: italic; /* Estilo de letra cursiva */
  position: relative; /* Posicionamiento relativo para ajustes */
  margin: 50px auto; /* Centra horizontalmente y añade un margen superior de 50px */
}

/* Oculta el texto "Un minijuego al día" en pantallas menores a 993px */
@media only screen and (max-width: 992px) {
  .navbar-text {
    display: none;
  }
}
